<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Teste</h1>
	<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
	<p> </p>
	<span th:text="${#authentication.getPrincipal()}"></span>
	<p> </p>
	<span th:text="${session.user.class.name}"></span>
	
	<div sec:authorize="hasAuthority('STUDENT_USER')" > Has Authority Student </div> 
	<div sec:authorize="hasAuthority('TEACHER_USER')" > Has Authority Teacher </div> 
</body>
</html>