<!-- Aulas Pesquisadas-->
<div class="d-flex justify-content-center">
	<div class="col-lg-8 ">
		<div class="wrap">
			<div class="ico-wrap">
				<img class="card-img"
					src="https://avatars0.githubusercontent.com/u/38297929?s=460&u=4218e2cc3a3f8ffa02a6097f9febcfbdec6034a9&v=4"
					alt="">
				<h2
					class="mbr-fonts-style mbr-bold mbr-section-title3 display-5 text-center">Nome
					Professor</h2>
			</div>
			<div class="text-wrap vcenter">
				<h2 class="mbr-fonts-style ft1-bold mbr-section-title3 display-5">
					Disciplina > <span class="ft2-bold">Matéria</span>
				</h2>
				<p class="mbr-fonts-style text1 mbr-text display-6">Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Adipisci nulla
					repellendus fugiat dicta omnis dolores, facilis placeat accusamus
					tempore quia esse minus ea incidunt optio eveniet sequi quos
					nostrum nesciunt.</p>
				<button type="submit" class="btn-compra">Comprar Agora</button>
			</div>
		</div>
	</div>
</div>



<!-- Meus Cursos (Aluno)-->
<div class="col-lg-3 mb-5">
	<!-- Card de um curso-->
	<div class="card meus-cursos">
		<!-- Card image -->
		<div class="view overlay">
			<img class="card-img-top rounded-0"
				src="../images/background-course.png" alt="Card image cap">
		</div>
		<!-- Card content -->
		<div class="card-body">
			<div class="collapse-content">
				<!-- Text -->
				<h2 class="mbr-fonts-style ft1-bold mbr-section-title3 display-5">
					Disciplina > <span class="ft2-bold">Matéria</span>
				</h2>
				<p>Nome professor</p>
				<p>
					<a href="#">Link da vídeo aula</a>
				</p>
			</div>
		</div>
	</div>
	<!-- Fim Card -->
</div>