
<div th:fragment="navbar-teamplate">
	<!-- Navbar-->
	<nav class="navbar navbar-expand-lg static-top">
		<!-- LOGO -->
		<a class="navbar-brand mr-5" href="/">Larn</a>
		<!--Botão hamburger-->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<!--Lista-->
			<ul class="navbar-nav mr-auto">

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					th:href="@{/register/teacher}">Ensine na Larn</a></li>

				<li class="nav-item mr-5 mr-5"><a class="nav-link btn-link"
					th:href="@{/register/student}">Seja Aluno</a></li>

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					href="pesquisa_aula.html">Procure uma aula</a></li>

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					th:href="@{/login}">Login</a></li>
			</ul>
			<!-- Fim Lista-->
		</div>
	</nav>
	<!-- Fim Navbar-->
</div>
