<!-- NavBar Usuario deslogado -->
<div th:fragment="navbar-teamplate">
	<!-- Navbar-->
	<nav class="navbar navbar-expand-lg static-top">
		<!-- LOGO -->
		<a class="navbar-brand mr-5" href="/">Larn</a>
		<!--Botão hamburger-->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<!--Lista-->
			<ul class="navbar-nav mr-auto">

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					th:href="@{/register/teacher}">Ensine na Larn</a></li>

				<li class="nav-item mr-5 mr-5"><a class="nav-link btn-link"
					th:href="@{/register/student}">Seja Aluno</a></li>

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					href="pesquisa_aula.html">Procure uma aula</a></li>

				<li class="nav-item mr-5"><a class="nav-link btn-link"
					th:href="@{/login}">Login</a></li>
			</ul>
			<!-- Fim Lista-->
		</div>
	</nav>
	<!-- Fim Navbar-->
</div>

<!-- NavBAr Aluno logado -->
<div th:fragment="navbar-aluno">
<nav class="navbar navbar-expand-lg static-top">
    <!-- LOGO -->
    <a class="navbar-brand mr-5" href="#">Larn</a>
    <!--Botão hamburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!--Lista-->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item mr-5">
          <a class="nav-link btn-link" href="pesquisa_aula.html">Procure uma aula</a>
        </li>

        <li class="nav-item mr-5">
          <a class="nav-link btn-link" href="cadastrar_aula.html">Crie sua aula</a>
        </li>

        <li class="nav-item mr-5">
          <a class="nav-link btn-link" href="@{/student/home}">Meus Cursos</a>
        </li>
      </ul>

      <!-- lista direita-->
      <ul class="navbar-nav">

        <!-- Dropdown Compra-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-shopping-cart"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <!--Itens dropdown - foreach-->
            <a class="dropdown-item" href="carrinho.html">Ir ao carrinho</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="perfil.html"><i class="fas fa-edit"></i> Editar</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
 </div>