.bg-login {
    background-image: url("/images/bcg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /*pacote de browsers*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.card-signin {
    background-color: #fff;
}

.logo-img {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 5%;
    display: block;
}

.card-signin label {
    margin-top: 2%;
    color: #000;
    text-transform: uppercase;
}

#form-login .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}

#form-login .btn:hover {
    color: #B43BFF;
}

.bg-erro {
    text-align: center;
}